<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyTheFourth.Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="bi bi-camera-reels-fill" aria-hidden="true"></span> Filmes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="characters">
                <span class="bi bi-file-earmark-person-fill" aria-hidden="true"></span> Personagens
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="planets">
                <span class="bi bi-map-fill" aria-hidden="true"></span> Planetas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicles">
                <span class="bi bi-scooter" aria-hidden="true"></span> Veículos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="starships">
                <span class="bi bi-rocket-takeoff-fill" aria-hidden="true"></span> Naves Espaciais
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
