.banner:is(:hover, :focus) {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease-in-out;
  background-color: white;
  opacity: 0.5;
}

.catalog-detail-container > a {
  text-decoration: none;
  color: inherit;
}

.catalog-detail-container > a[href]:hover {
  cursor: pointer;
}
