@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/alequeshow/desafio-balta-may-the-fourth-frontend" target="_blank">Sobre o Desafio</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
